<!-- Header Component -->
<header class="header">
    <div class="container">
        <div class="header_top">
            <div class="flex items-center justify-end sm:justify-between gap-5 py-1 sm:py-2 text-white relative z-10">
                <p class="hidden sm:flex">Welcome to Our Ventify Air System Company</p>
                <div class="flex items-center gap-5">
                    <p>Follow Us On:</p>
                    <div class="flex items-center gap-3">
                        <a href="#!" class="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#!" class="">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        <a href="#!" class="">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#!" class="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_main">
        <div class="container">
            <div class="flex items-center justify-between gap-4 py-1 sm:py-3 relative z-10">
                <img routerLink="/" src="../.././../assets/images/icon/logo.png" alt="logo"
                    class="object-contain w-28 sm:w-40 cursor-pointer">

                <div class="flex items-start lg:items-center gap-3 lg:gap-8 text-lg header_main-navigation"
                    [class.active]="isSidebar">
                    <div class="header_responsive mb-2 flex justify-between items-center w-full p-3 lg:hidden border-b border-gray-200">
                        <img routerLink="/" src="../.././../assets/images/icon/logo.png" alt="logo"
                            class="object-contain w-28 cursor-pointer">
                        <a class="menu__close-icon cursor-pointer" (click)="closeSidebar()">
                            <i class="fa-sharp text-2xl fa-light fa-xmark"></i>
                        </a>
                    </div>

                    <a class="links ml-4 lg:ml-0" (click)="closeSidebar()" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                    <a class="links ml-4 lg:ml-0" (click)="closeSidebar()" routerLink="/about" routerLinkActive="active">About Us</a>
                    <a class="links ml-4 lg:ml-0" (click)="closeSidebar()" routerLink="/products"
                        routerLinkActive="active">Products</a>
                    <a class="links ml-4 lg:ml-0" (click)="closeSidebar()" routerLink="/gallery"
                        routerLinkActive="active">gallery</a>
                    <a class="links ml-4 lg:ml-0" (click)="closeSidebar()" routerLink="/contact-us" routerLinkActive="active">Contact
                        Us</a>
                </div>
                <div class="flex gap-4 items-center">
                    <button class="btn-primary " routerLink="/contact-us">Contact Now</button>
                    <a class="menu__open-icon flex items-center cursor-pointer lg:hidden" (click)="openSidebar()">
                        <i class="fa-sharp fa-2xl fa-light fa-bars mt-1 text-secondary"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>