<div class="fix-height-banner">
    <img class="object-cover w-full h-full" src="./../../assets/images/about-us-banner.jpg"alt="non destructive testing training">
    <div
        class="absolute bottom-0 text-center flex items-center justify-center w-full h-full text-white bg-gradient-to-t from-black">
        <div class="max-w-5xl space-y-4 px-3 lg:px-0">
            <h1 class="font-semibold">About Us</h1>
            <h5 class="pb-5">Ventify Air Systems was founded with the vision of providing innovative and sustainable
                cooling
                and ventilation solutions tailored to various industries needs. Prasad N N and Santosh Kumar S, the
                driving forces behind the company, bring with them decades of experience in the HVAC sector. </h5>
            </div>
    </div>
</div>

<div class="py-10 sm:py-16 lg:py-24">
    <div class="container">
        <div class="rounded-xl bg-gray-50 text-start sm:text-center p-5 md:p-10 space-y-5">
            <h3 class="text-secondary">Welcome To Ventify Air Systems</h3>
            <p class="font-normal">At Ventify Air Systems, we understand the critical role that efficient ventilation
                systems play in maintaining a productive and healthy work environment. Our range of products, from HVLS
                fans and industrial coolers to basement and kitchen ventilation systems, is designed to optimize air
                circulation, reduce energy consumption, and improve overall air quality. Our solutions are engineered
                for low maintenance, so clients can focus on their core operations with minimal disruption. We also
                provide the best warranty terms in the industry, ensuring long-term reliability and customer
                satisfaction.</p>
            <p class="font-normal">Our commitment to excellence extends beyond product quality. We pride ourselves on
                our on-time delivery, ensuring that clients receive their ventilation solutions exactly when they need
                them. By working closely with our customers to understand their specific requirements, we provide
                tailored solutions that deliver maximum value. From product selection to installation and maintenance,
                Ventify Air Systems is dedicated to supporting our clients every step of the way, building long-lasting
                relationships based on trust, reliability, and superior service.</p>
        </div>
    </div>
</div>

<div class="pb-10 sm:pb-16 lg:pb-24">
    <div class="container">
        <div class="grid grid-cols-4 gap-10">
            <div
                class="rounded-lg overflow-hidden flex flex-col bg-white shadow text-center border col-span-4 md:col-span-2">
                <img routerLink="products" src="./../../assets/images/mission-statement.jpg" alt="about"
                    class="cursor-pointer w-full object-cover object-center shadow-md aspect-video">
                <div class="p-3 sm:p-6 space-y-3">
                    <h3 class="font-medium text-secondary">
                        Mission Statement </h3>
                    <p class="text-gray-700">
                        Ventify Air System is committed to revolutionizing
                        the HVAC industry by delivering energy-efficient,
                        sustainable, and high-quality air solutions. Our
                        mission is to enhance indoor air quality, improve
                        comfort, and reduce environmental impact through
                        innovative technology and top-tier customer
                        service. We aim to provide tailored HVAC solutions
                        that meet the unique needs of residential,
                        commercial, and industrial clients while prioritizing
                        health, safety, and affordability.
                    </p>
                </div>
            </div>
            <div
                class="rounded-lg overflow-hidden flex flex-col bg-white shadow text-center border col-span-4 md:col-span-2">
                <img routerLink="products" src="./../../assets/images/vision-statement.jpg" alt="about"
                    class="cursor-pointer w-full object-cover object-top shadow-md aspect-video">
                <div class="p-3 sm:p-6 space-y-3">
                    <h3 class="font-medium text-secondary">Vision Statement </h3>
                    <p class="text-gray-700">
                        Our vision is to become a global leader in HVAC
                        solutions, setting the industry standard for
                        environmental sustainability and technological
                        innovation. We strive to create a future where every
                        home and business benefits from superior air
                        quality, reduced energy consumption, and ecofriendly HVAC systems. Ventify Air System envisions
                        driving the industry towards greener practices,
                        cutting-edge designs, and a commitment to
                        enhancing human comfort and environmental
                        health.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clip-path fix-background py-10 sm:py-16 lg:pt-24 bg-transparent">
    <div class="container">
        <div class="text-center space-y-5 max-w-6xl px-5 mx-auto text-white z-10 relative">
            <div>
                <h3 class="uppercase text-white ">VENTIFY AIR SYSTEM</h3>
                <span class="h-1 w-16 sm:w-28 mt-2 bg-primary mx-auto block"></span>
            </div>
            <h5>Discover Ventify Air System's Comprehensive Range of Ventilation Products</h5>
            <button class="btn-primary-small mx-auto" routerLink="/contact-us">Contact Us <i
                    class="fa-light fa-phone"></i></button>
        </div>
    </div>
</div>