<div>
    <footer class="bg-white py-10 sm:py-16 border-t">
        <div class="container">
            <div class="grid grid-cols-8 gap-4 sm:gap-7 lg:gap-10 text-secondary items-start">
                <div class="col-span-8 lg:col-span-3 space-y-3 text-center lg:text-start">
                    <img routerLink="/" src="../.././../assets/images/icon/logo.png" alt="logo" class="object-contain w-32 sm:w-40 cursor-pointer mx-auto lg:mx-0">
                    <h6 class="font-medium text-secondary">
                        Mission Statement</h6>
                    <p>Ventify Air System is committed to revolutionizing
                        the HVAC industry by delivering energy-efficient,
                        sustainable, and high-quality air solutions. Our
                        mission is to enhance indoor air quality, improve
                        comfort, and reduce environmental impact through
                        innovative technology and top-tier customer
                        service. We aim to provide tailored HVAC solutions
                        that meet the unique needs of residential,
                        commercial, and industrial clients while prioritizing
                        health, safety, and affordability.</p>
                </div>
                <div class="col-span-8 sm:col-span-4 lg:col-span-3">
                    <h5
                        class="text-secondary pb-4 sm:pb-8 font-medium after:content-[''] after:w-24 after:h-0.5 after:bg-primary after:rounded-lg after:left-0 after:bottom-0 after:block">
                        Quick Links</h5>
                    <div class="grid grid-cols-2">
                        <div class="flex flex-col space-y-3.5">
                            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                                class="text-sm sm:text-base cursor-pointer links">Home</a>
                            <a routerLink="/about" routerLinkActive="active"
                                class="text-sm sm:text-base cursor-pointer links">About</a>
                            <a routerLink="/products" routerLinkActive="active"
                                class="text-sm sm:text-base cursor-pointer links">Products</a>
                            <a routerLink="/gallery" routerLinkActive="active"
                                class="text-sm sm:text-base cursor-pointer links">Gallery</a>
                        </div>
                        <div class="flex flex-col space-y-3.5">
                            <a routerLink="/contact-us" routerLinkActive="active"
                                class="text-sm sm:text-base cursor-pointer links">Contact Us</a>
                            <a class="text-sm sm:text-base cursor-pointer links">Privacy Policy</a>
                            <a class="text-sm sm:text-base cursor-pointer links">Terms & Condition</a>
                        </div>
                    </div>
                </div>
                <div class="col-span-8 sm:col-span-4 lg:col-span-2">
                    <h5
                        class="text-secondary pb-4 sm:pb-8 font-medium after:content-[''] after:w-20 after:h-0.5 after:bg-primary after:rounded-lg after:left-0 after:bottom-0 after:block">
                        Contact Us</h5>
                    <div class="space-y-2 sm:space-y-3">
                        <div class="flex gap-3 items-start">
                            <i class="fa-sharp fa-solid fa-location-dot text-primary text-lg sm:text-2xl"></i>
                            <p> Plot No.352/353,Vivekanand Nagar,L.H.Road,Surat-395006</p>
                        </div>
                        <a href="tel:+919728998427"
                            class="flex gap-3 items-center hover:text-primary transition-colors text-sm sm:text-base">
                            <i class="fa-sharp fa-solid fa-phone text-primary text-lg sm:text-2xl"></i>
                            +919728998427
                        </a>
                        <a href="mailto:ventifyairsystem@gmail.com"
                            class="flex gap-3 items-center hover:text-primary transition-colors text-sm sm:text-base">
                            <i class="fa-solid fa-envelopes text-primary text-lg sm:text-2xl"></i>
                            ventifyairsystem&#64;gmail.com
                        </a>
                        <div class="flex items-center gap-3 pt-5 links_block">
                            <a href="#!" class="icons">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#!" class="icons">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                            <a href="#!" class="icons">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#!" class="icons">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <span class="p-2 w-full block text-xs sm:text-sm text-center text-white bg-secondary">Copyright © 2024
        |
        <a class="text-primary font-medium" href="https://ventifyairsystem.com">VentifyAirSystem.com</a> |
        All rights reserved
    </span>
</div>